h1
{
	color: white;
	background-color: #23716E;
	text-align: center;
	font-size: 2em;
	letter-spacing: .2em;
	text-transform: uppercase;
	word-spacing: .5em;
}

h2
{
	color: white;
	background-color: #23716E;
}

h5
{
	color: #23716E;
}


a
{
	color: white;
}

body
{
	background-color: black;
	font-family: "Arial", "Tahoma", "Trebucht", sans-serif;
}

p
{
	color: white;
	font family: "Arial", "Tahoma", "Trebucht", sans-serif;
	font-weight: normal;
	font-size: 1em;
	text-indent: 3em;
	line-height: 1.5em;
	text-style: italic;
}

ul
{
	color: white;
}



