h1
{
	color: white;
	background-color: #23716E;
	text-align: center;
}

h2
{
	color: white;
	background-color: #23716E;
}

h5
{
	color: #23716E;
}


a
{
	color: white;
}

body
{
	background-color: black;
}

p
{
	color: white;
}

ul
{
	color: white;
}



