*
{
	margin:0;
	padding:0;
}

h1
{
	color: white;
	background-color: #23716E;
	text-align: center;
	font-size: 2em;
	letter-spacing: .2em;
	text-transform: uppercase;
	word-spacing: .5em;
	border: solid thin white;
	padding: 10px;
	margin: 30px;
}

h2
{
	color: white;
	background-color: #23716E;
	border: solid thin white;
	padding: 10px;
	margin: 10px;
}

h5
{
	color: white;
}

a
{
	color: white;
}

body
{
	background-image: url(images/pictureofspace.gif);
	font-family: "Veranda", "Geneva", "Helveitca", sans-serif;
	
}

p
{
	color: white;
	font-weight: normal;
	font-size: 1em;
	text-indent: 3em;
	line-height: 1.5em;
}

ul
{
	color: white;
}

li
{
	color: white;
}

nav
{
	width: 1040px;
	padding: 10px;
	background-color: #23716E;
	margin-bottom: 10px;
}

nav li
{
	display: inline;
	padding-right: 40px;
	list-style-type: none;
}

nav a:link
{
	color: white;
	text-decoration: none;
}
nav a:visited
{
	color:white;
}
nav a:hover
{
	text-decoration:underline;
}
nav a:active
{
	color:black;
	text-decoration:underline;
}

img
{
	border: solid thin white;
	float: left;
}

#container
{
	width: 1060px;
	margin: 0 auto;
}

header
{
	height: 100px;
	width: 1010px;
	padding: 25px;
	background-color: #23716E;
	margin-bottom: 10px;
}

nav
{
	width: 1040px;
	padding: 10px;
	background-color: #23716E;
	margin-bottom: 10px;
}
nav li
{
	display:inline;
	list-style-type: none;
	padding right: 40px;
}

aside
{
	width: 300px;
	height: 400px;
	margin: 0 10px 10px 0;
	padding: 10px;
	background-color: #23716E;
	float: left;
}

section
{
	width: 710px;
	height: 400px;
	margin: 0 0 10px 0;
	padding: 10px;
	background-color: #23716E;
	float: right;
}

footer
{
	background-color: #23716E;
	padding: 10px;
	clear: both;
}

iframe
{
	border-style: none;
}

table
{
	border: solid 1px white;
	border-collapse: collapse;
	
}

tr, td, th
{
	border: solid 2px white;
	color: white;
	padding: 5px;
	width: 100px;
	height: 50px;
	text-align: center;
}

th
{
	background-color: #23716E
}

td
{
	background-color: black;
}
	
caption
{
	color:white;
	caption-side: top;
}