ol
{
	color: white;
	list-style-image: url("../myweb/red bar-1.png.png");
}

il
{
	color: white;
	list-style-image: url("../myweb/blue bar-1.png.png");
}

h2
{
	color: white;
	background-color: #23716E;
}

h5
{
	color: #23716E;
}

body
{
	background-color: black;
	font-family: "Veranda", "Geneva", "Helveitca", sans-serif;
}

p
{
	color: white;
	font-weight: normal;
	font-size: 1em;
	text-indent: 3em;
	line-height: 1.5em;
}

a
{
	color: white;
}

nav
{
	background-color: #23716E;
	line-height: 200%;
	display: block;
}

nav li
{
	display: inline;
	padding-right: 40px;
	list-style-type: none;
}

nav a:link
{
	color: white;
	text-decoration: none;
}
nav a:visited
{
	color:white;
}
nav a:hover
{
	text-decoration:underline;
}
nav a:active
{
	color:black;
	text-decoration:underline;
}