ol
{
	color: white;
	list-style-image: url("images/red bar-1.png.png");
}

ul
{
	color: white;
	list-style-image: url("images/blue bar-1.png.png");
}

h2
{
	color: white;
	background-color: #23716E;
	padding: 10px;
	margin: 30px;
}

h5
{
	color: white;
}

body
{
	background-image: url(images/pictureofspace.gif);
	font-family: "Veranda", "Geneva", "Helveitca", sans-serif;
}

p
{
	color: white;
	font-weight: normal;
	font-size: 1em;
	text-indent: 3em;
	line-height: 1.5em;
}

a
{
	color: white;
}

nav
{
	width: 1040px;
	padding: 10px;
	background-color: #23716E;
	margin-bottom: 10px;
}

nav li
{
	display: inline;
	padding-right: 40px;
	list-style-type: none;
	
}

nav a:link
{
	color: white;
	text-decoration: none;
}
nav a:visited
{
	color:white;
}
nav a:hover
{
	text-decoration:underline;
}
nav a:active
{
	color:black;
	text-decoration:underline;
}

#container
{
	width: 1280px;
	margin: 0 auto;
}

header
{
	height: 100px;
	width: 1230px;
	padding: 25px;
	background-color: #23716E;
	margin-bottom: 10px;
}

nav
{
	width: 1260px;
	padding: 10px;
	background-color: #23716E;
	margin-bottom: 10px;
}
nav li
{
	display:inline;
	list-style-type: none;
	padding right: 40px;
}

aside
{
	width: 400px;
	height: 625px;
	margin: 0 10px 10px 0;
	padding: 10px;
	background-color: #23716E;
	float: left;
}

section
{
	width: 820px;
	height: 625px;
	margin: 0 0 10px 0;
	padding: 10px;
	background-color: #23716E;
	float: right;
}

footer
{
	background-color: #23716E;
	padding: 10px;
	clear: both;
}

iframe
{
	border-style: none;
}